* {
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }

h1 {
  margin: 0; }

body {
  font-family: "Cardo", serif;
  margin: 0;
  padding: 0;
  color: #525252;
  margin-top: 40px;
  z-index: -1;
  height: 100%; }
  body .collapsible-menu {
    background: rgba(30, 0, 20, 0.1);
    padding: 0px 30px;
    border-bottom: 3px solid green;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
    body .collapsible-menu label {
      cursor: pointer;
      font-size: 2em;
      display: block;
      padding: 10px 0 10px 0px;
      text-align: right; }
    body .collapsible-menu input#menu {
      display: none; }
    body .collapsible-menu .mob-menu-content {
      font-weight: 300;
      max-height: 0;
      overflow: hidden;
      font-family: "Oswald", sans-serif;
      padding: 0 0 0 50px; }
      body .collapsible-menu .mob-menu-content ul a {
        display: block;
        padding: 5px;
        text-decoration: none;
        text-align: right; }
  body .nav-block {
    position: fixed;
    top: 0;
    display: flex;
    background: #c5c7c2;
    width: 100%; }
    body .nav-block .nav-logo {
      display: flex;
      flex-grow: 1;
      margin: 0;
      text-align: center;
      font-weight: 300;
      align-items: center;
      justify-content: space-evenly; }
    body .nav-block .nav-wrapper {
      display: flex;
      flex-grow: 3;
      justify-content: space-evenly;
      align-items: center; }
  body .content {
    display: grid;
    grid-template-columns: repeat(4, [col] 1fr);
    grid-template-rows: 100vh 50% repeat(5, [row] 100px) auto 50px;
    grid-template-areas: "headerName headerName headerName headerName" "quote quote quote quote" "portfolio portfolio portfolio portfolio" "about-me about-me about-me about-me" "about-text about-text about-skills about-skills" " resume-title resume-title resume-title resume-title" "resume resume resume resume" "contact contact contact contact" "footer footer footer footer"; }
    body .content .header-block {
      display: flex;
      flex-direction: column;
      grid-area: headerName;
      justify-content: safe center;
      background: linear-gradient(black, rgba(148, 255, 157, 0.5)), url("/img/Sky.jpg") no-repeat right top;
      background-attachment: fixed;
      background-size: cover;
      height: 100%;
      width: 100%;
      color: white; }
      body .content .header-block h1 {
        font-size: 4em; }
      body .content .header-block p {
        font-size: 2em; }
      body .content .header-block h1, body .content .header-block p {
        align-self: center; }
    body .content .hero-block {
      grid-area: quote;
      position: relative; }
      body .content .hero-block .videocontainer {
        position: relative;
        z-index: 0; }
        body .content .hero-block .videocontainer video {
          width: 100%;
          height: 100%; }
      body .content .hero-block .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; }
    body .content .portfolio-block {
      grid-area: portfolio; }
    body .content .about-me-header {
      grid-area: about-me; }
    body .content .about-text {
      grid-area: about-text; }
    body .content .about-skills {
      grid-area: about-skills; }
    body .content .resume-title {
      grid-area: resume-title; }
    body .content .resume-block {
      grid-area: resume; }
    body .content .contact-block {
      grid-area: contact;
      padding: 10px; }
      body .content .contact-block form {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat 4, 1fr;
        width: 400px;
        height: auto;
        grid-gap: 10px; }
        body .content .contact-block form h1 {
          justify-self: center;
          grid-column: 1/3;
          font-size: 2rem; }
        body .content .contact-block form input, body .content .contact-block form textarea {
          justify-self: center;
          font-family: karla, sans-serif;
          grid-column: 1/3;
          width: 250px;
          border: none; }
        body .content .contact-block form input {
          border-bottom: 1px solid black; }
        body .content .contact-block form textarea {
          background: beige; }
        body .content .contact-block form input[type="text"] {
          padding: 10px;
          width: 250px; }
        body .content .contact-block form input[type="email"] {
          width: 250px;
          padding: 10px; }
        body .content .contact-block form textarea[required="text"] {
          padding-left: 10px;
          padding-top: 10px; }
        body .content .contact-block form input[type="submit"] {
          margin: 10px 0;
          justify-self: center;
          grid-column: 1/3;
          background-color: #77A6F7;
          padding: 10px;
          width: 270px; }
        body .content .contact-block form input[type="submit"]:hover {
          background-color: #D3E3FC; }
        body .content .contact-block form textarea[required] {
          justify-self: center;
          max-width: 250px;
          height: 100px;
          text-decoration: none;
          padding: 10px; }
    body .content .footer-block {
      grid-area: footer;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      body .content .footer-block i {
        font-size: 2em;
        color: #E85A4F;
        justify-self: center; }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .nav-block {
    display: none !important;
    background-color: red;
    color: blue; }

  body {
    margin: 0; }

  .content {
    width: 100%;
    grid-template-columns: 1fr !important;
    grid-template-rows: 100vh 25vh repeat(6, [row] 100px) auto 50px !important;
    grid-template-areas: "headerName" "quote" "portfolio" "about-me" "about-text" "about-skills" "resume-title" "resume" "contact" "footer" !important; } }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
  body .collapsible-menu {
    display: none; }
  body .nav-block ul li {
    padding: 8.4px; }

  #name-title {
    display: none; } }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #name-title {
    display: inline; } }
input:checked ~ label {
  color: green; }

input:checked ~ .mob-menu-content {
  max-height: 100%; }

/*# sourceMappingURL=website-okt2018.css.map */
