$font-stack: 'Noto Sans KR',
sans-serif;
$primary-color: #EEEEEE;
$secondary-color: #DDDDDD;
$tertiary-color: #C5C7C2;
$text-header-color: #707070;
$textcopy-color:#525252;


* {
    border: 1px black solid;
}

body {
    background: $primary-color;
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    color: $textcopy-color;

    .nav-block {
        position: fixed;
        top: 0;
        display: flex;
        background: $tertiary-color;

        .nav-wrapper {
            display: flex;
        }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(5, [col] 1fr);
        grid-template-rows: repeat(4, [row] 100px) 50px;
        grid-template-areas:
            "headerName headerName headerName headerName headerName"
            "hero hero hero hero hero"
            "portfolio portfolio portfolio portfolio portfolio"
            "resume resume resume resume resume"
            "contact contact contact contact contact"
            "footer footer footer footer footer";



        .header-block {
            grid-area: headerName;
        }

        .hero-block {
            grid-area: hero;
        }

        .portfolio-block {
            grid-area: portfolio;
        }

        .resume-block {
            grid-area: resume;
        }

        .contact-block {
            grid-area: contact;
        }

        .footer-block {
            grid-area: footer;
        }
    }

}