$font-stack: "Noto Sans KR", sans-serif;
// 'Cardo', serif;
//  'Archivo', sans-serif;
$background-color: #eeeeee;
$secondary-color: #dddddd;
$tertiary-color: white;
$text-header-color: #707070;
$textcopy-color: #525252;

// #333

* {
  // border: 1px black solid;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: $textcopy-color;
  text-decoration: none;
  line-height: 1px; /* no underline */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  min-width: 100%;
  line-height: none;
}

h1 {
  margin: 0;
}

body {
  font-family: $font-stack;
  margin: 0 auto;
  padding: 0;
  color: $textcopy-color;
  // margin-top: 40px;
  z-index: -1;
  height: 100%;
  overflow-x: hidden;

  .collapsible-menu {
    // position: fixed;
    width: 100%;
    background: white;
    padding: 0px 20px;
    border-bottom: 3px solid #333;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 100;

    label {
      cursor: pointer;
      font-size: 2em;
      display: block;
      // padding: 5px 0 5px 0px;
      text-align: right;
    }
    input#menu {
      display: none;
    }

    .mob-menu-content {
      font-weight: 300;
      max-height: 0;
      overflow: hidden;
      font-family: "Oswald", sans-serif;
      padding: 0 0 0 50px;

      ul {
        li {
          margin-top: 10px;

          a {
            display: block;
            padding-bottom: 15px;
            text-decoration: none;
            text-align: right;
          }
        }
      }
    }
  }

  .nav-block {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 10000;
    transition: all 1s ease-in-out;

    .nav-logo {
      display: flex;
      flex-grow: 1;
      margin: 0;
      text-align: center;
      font-weight: 300;
      align-items: center;
      justify-content: space-evenly;
    }

    .nav-wrapper {
      display: flex;
      flex-grow: 3;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .nav-block.active {
    background-color: $tertiary-color;
    transition: all 1s ease-in-out;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, [col] 1fr);
    grid-template-rows: 100vh auto auto auto auto auto auto 50px;
    width: 100%;
    height: auto;

    grid-template-areas:
      "headerName headerName headerName headerName"
      "aboutMe aboutMe aboutMe aboutMe"
      "portfolio portfolio portfolio portfolio"
      "about-me about-me about-me about-me"
      // " resume-title resume-title resume-title resume-title"
      "resume resume resume resume"
      "about-text about-text about-skills about-skills"
      "contact contact contact contact"
      "footer footer footer footer";

    .headerName {
      display: flex;
      flex-direction: column;
      grid-area: headerName;
      justify-content: safe center;

      background: linear-gradient(rgba(0, 0, 0, 1), rgba(148, 255, 157, 0.5)),
        url("src/img/Sky.jpg") no-repeat right top;
      background-attachment: fixed;
      background-size: cover;
      height: 100%;
      width: 100%;
      color: white;
      z-index: -50;
      h1 {
        background: rgb(3, 3, 3);
        font-size: 4em;
        margin: 10px;
        padding: 0px 20px 0 20px;
      }
      p {
        font-size: 2em;
        color: #525252;
        background: rgba(255, 255, 255, 0.7);
        padding: 10px 5px;
        margin: -25px 0 0 -45px;
        z-index: -2;
      }
      h1,
      p {
        align-self: center;
      }

      .triangle {
        // display: float;
        position: absolute;

        width: 100vw;
        height: 100vh;
        background: linear-gradient(
            rgba(57, 204, 204, 0.4),
            rgba(57, 204, 204, 0.9)
          ),
          url("src/img/yellow.jpg") no-repeat right top;
        // background-color: #39cccc;
        background-size: cover;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        z-index: -3;
      }
    }

    .aboutMe {
      grid-area: aboutMe;
      position: relative;

      h1 {
        text-align: center;
        margin: 40px 0;
      }
      .about-me-container {
        width: 100%;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        position: relative;

        img {
          background-size: cover;
          max-width: 250px;
          height: auto;
          margin-top: 20px;
          overflow: hidden;
        }
        .textbox {
          width: 70%;
          padding: 50px;
          text-align: center;
          margin: 0 auto;

          p {
          }
        }
      }
    }

    img:hover {
      border: 2px solid black;
      transition: all 3s ease;
    }
    .image-circle {
      border-radius: 50%;
    }

    .portfolio-block {
      grid-area: portfolio;
      h1 {
        text-align: center;
        margin: 50px 0 0 0;
      }

      .portfolio-grid {
        list-style: none;
        padding: 10vh;
        margin: 0 auto;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
          width: 350px;
          height: 350px;
          margin: 20px;
          a {
            img {
              background-attachment: fixed;
              background-size: cover;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }

    .about-me-header {
      padding: 100px;
      background: linear-gradient(rgba(51, 51, 51, 1), rgba(148, 255, 157, 0.5)),
        url("src/img/Sky.jpg") no-repeat right top;
      background-attachment: fixed;
      background-size: cover;
      grid-area: about-me;
      text-align: center;
      color: $secondary-color;

      .quote-container {
        blockquote {
          font-size: 2em;
          font-weight: 300;
        }
      }
    }

    .about-text {
      grid-area: about-text;
      text-align: center;
    }

    .about-skills {
      grid-area: about-skills;
      text-align: center;
    }

    // .resume-title {
    //   grid-area: resume-title;
    // }

    .resume-block {
      grid-area: resume;
      width: 100%;
      margin-top: 50px;
      h1 {
        text-align: center;
      }

      .resume-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 70px 0;

        .resume {
          width: 34vw;
          padding: 20px;
          display: flex;
          i {
            font-size: 1.5em;
            padding-right: 10px;
          }
        }
      }
    }

    .contact-block {
      grid-area: contact;
      padding: 10px 0 100px 0;
      width: 100%;
      form {
        margin: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (4, 1fr);
        width: 400px;
        height: auto;
        grid-gap: 10px;
        // border-top-right-radius: 10px;
        // border-top-left-radius: 10px;

        h1 {
          padding-bottom: 30px;
          justify-self: center;
          grid-column: 1/3;
          font-size: 2rem;
        }

        input,
        textarea {
          justify-self: center;
          font-family: karla, sans-serif;
          grid-column: 1/3;
          width: 50vw;
          border: none;
        }

        input {
          border-bottom: 1px solid black;
        }

        textarea {
          background: white;
        }

        input[type="text"] {
          padding: 10px;
        }

        input[type="email"] {
          padding: 10px;
        }

        textarea[required="text"] {
          padding-left: 10px;
          padding-top: 10px;
          width: 50vw;
          height: 50vh;
        }

        input[type="submit"] {
          margin: 10px 0;
          justify-self: center;
          grid-column: 1/3;
          background-color: #333;
          color: white;
          padding: 10px;
          width: 50vw;
        }

        input[type="submit"]:hover {
          background-color: $secondary-color;
          color: #333;
          transition: all 2s ease;
        }

        textarea[required] {
          justify-self: center;
          max-width: 50vw;
          height: 100px;
          text-decoration: none;
          padding: 10px;
        }
      }
    }

    .footer-block {
      grid-area: footer;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #333;
      i {
        font-size: 2em;
        color: lavenderblush;
        justify-self: center;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .nav-block {
    display: none !important;
    background-color: red;
    color: blue;
    z-index: 100 !important;
  }

  .content {
    width: 100vw;
    grid-template-columns: 1fr !important;
    grid-template-rows: 100vh auto auto auto auto auto auto auto 50px !important;
    grid-template-areas:
      "headerName"
      "aboutMe"
      "portfolio"
      "about-me"
      "about-text"
      "about-skills"
      // "resume-title"
      "resume"
      "contact"
      "footer" !important;

    .headerName {
      // margin: 0 auto;
      width: 100vw !important;

      .triangle {
        z-index: 0;
        width: 100vw !important;
        height: 100vh !important;
      }
      h1 {
        font-size: 2.5em !important;
      }
      p {
        font-size: 1.3em !important;
      }
    }

    .aboutMe {
      .about-me-container {
        .textbox {
          width: 100% !important;
        }
        p {
          padding: 0 25px 0 25px !important;
        }
      }
    }
    .contact-block {
      textarea[required] {
        justify-self: center;
        max-width: 400px !important;
      }
      input,
      textarea {
        width: 400px !important;
      }
    }

    .resume {
      width: 70vw !important;
      margin: 10px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
  body {
    .collapsible-menu {
      display: none;
    }

    .nav-block {
      ul {
        li {
          padding: 8.4px;
        }
      }
    }
  }

  #name-title {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #name-title {
    display: inline;
  }
  // toggle menu for the mobile versions
}

input:checked ~ label {
  color: green;
}

input:checked ~ .mob-menu-content {
  max-height: 100%;
}

//   .videocontainer {
//     position: relative;
//     z-index:0;

//     video {
//       width: 100%;
//       height: 100%;
//     }
//   }

//   .overlay {
//     position:absolute;
//     top:0;
//     left:0;
//     z-index:1;
// }
